<div>Universumsgeschwindigkeit: {{ universeSpeed }}</div>
<div>Temperatur: {{ temperature }}</div>
<table>
  <tr>
    <th>Bezeichnung</th>
    <th>Level / Anzahl</th>
    <th>Regulieren</th>
    <th>Metall</th>
    <th>Kristall</th>
    <th>Deuterium</th>
    <th>Energie</th>
    <th>Prozent</th>
  </tr>
  <tr>
    <td>Grundeinkommen</td>
    <td></td>
    <td></td>
    <td>{{ baseIncomeMetal * universeSpeed }}</td>
    <td>{{ baseIncomeCrystal * universeSpeed }}</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Metallmine</td>
    <td>{{ metalMineLvl }}</td>
    <td></td>
    <td>{{ metalMineProd }}</td>
    <td></td>
    <td></td>
    <td>{{ metalMineEnergyConsumtion }}</td>
    <td>{{ metalMinePercentage }}</td>
  </tr>
  <tr>
    <td>Kristallmine</td>
    <td>{{ crystalMineLvl }}</td>
    <td></td>
    <td></td>
    <td>{{ crystalMineProd }}</td>
    <td></td>
    <td>{{ crystalMineEnergyConsumtion }}</td>
    <td>{{ crystalMinePercentage }}</td>
  </tr>
  <tr>
    <td>Deuterium-Synthetisierer</td>
    <td>{{ deuteriumSynthesizerLvl }}</td>
    <td></td>
    <td></td>
    <td></td>
    <td>{{ deuteriumSynthesizerProd }}</td>
    <td>{{ deuteriumSynthesizerEnergyConsumtion }}</td>
    <td>{{ deuteriumSynthesizerPercentage }}</td>
  </tr>
  <tr>
    <td>Solarkraftwerk</td>
    <td>{{ solarPlantLvl }}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>{{ solarPlantProd }}</td>
    <td>{{ solarPlantPercentage }}</td>
  </tr>
  <tr>
    <td>Fusionskraftwerk</td>
    <td>{{ fusionReactorLvl }}</td>
    <td></td>
    <td></td>
    <td></td>
    <td>{{ fusionReactorDeuteriumConsumtion }}</td>
    <td>{{ fusionReactorEnergyProd }}</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Solarsatellit</td>
    <td>{{ solarSatellites }}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>{{ solarSatellitesEnergyProd }}</td>
    <td>{{ solarSatellitesPercentage }}</td>
  </tr>
  <tr>
    <td>Crawler</td>
    <td>{{ crawlers }}</td>
    <td></td>
    <td>{{ crawlersMetalProd }}</td>
    <td>{{ crawlersCrystalProd }}</td>
    <td>{{ crawlersDeuteriumProd }}</td>
    <td>{{ crawlersEnergyConsumtion }}</td>
    <td>{{ crawlersPercentage }}</td>
  </tr>
  <tr>
    <td>Plasmatechnik</td>
    <td>{{ plasmaTechnology }}</td>
    <td></td>
    <td>{{ plasmaTechnologyMetalProd }}</td>
    <td>{{ plasmaTechnologyCrystalProd }}</td>
    <td>{{ plasmaTechnologyDeuteriumProd }}</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Items</td>
    <td></td>
    <td></td>
    <td>
      {{ itemMetalProd }}
      <select [(ngModel)]="selectedItemMetal" (ngModelChange)="calculateStats()"
        ><option [ngValue]="0">0%</option>
        <option [ngValue]="10">10%</option>
        <option [ngValue]="20">20%</option>
        <option [ngValue]="30">30%</option></select
      >
    </td>
    <td>
      {{ itemCrystalProd }}
      <select
        [(ngModel)]="selectedItemCrystal"
        (ngModelChange)="calculateStats()"
        ><option [ngValue]="0">0%</option>
        <option [ngValue]="10">10%</option>
        <option [ngValue]="20">20%</option>
        <option [ngValue]="30">30%</option></select
      >
    </td>
    <td>
      {{ itemDeuteroiumProd }}
      <select
        [(ngModel)]="selectedItemDeuterium"
        (ngModelChange)="calculateStats()"
        ><option [ngValue]="0">0%</option>
        <option [ngValue]="10">10%</option>
        <option [ngValue]="20">20%</option>
        <option [ngValue]="30">30%</option></select
      >
    </td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Geologe</td>
    <td>
      <mat-slide-toggle [(ngModel)]="hasGeologist"></mat-slide-toggle>
    </td>
    <td></td>
    <td>{{ hasGeologist ? geologistMetalProd : "" }}</td>
    <td>{{ hasGeologist ? geologistCrystalProd : "" }}</td>
    <td>{{ hasGeologist ? geologistDeuteroiumProd : "" }}</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Ingenieur</td>
    <td><mat-slide-toggle [(ngModel)]="hasEngineer"></mat-slide-toggle></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>{{ hasEngineer ? engineerEnergyProd : "" }}</td>
    <td></td>
  </tr>
  <tr>
    <td>Kommandostab</td>
    <td><mat-slide-toggle [(ngModel)]="hasCommando"></mat-slide-toggle></td>
    <td></td>
    <td>{{ hasCommando ? commandoMetalProd : "" }}</td>
    <td>{{ hasCommando ? commandoCrystalProd : "" }}</td>
    <td>{{ hasCommando ? commandoDeuteroiumProd : "" }}</td>
    <td>{{ hasCommando ? commandoEnergyProd : "" }}</td>
    <td></td>
  </tr>
  <tr>
    <td>Kollektor</td>
    <td><mat-slide-toggle [(ngModel)]="isCollector"></mat-slide-toggle></td>
    <td></td>
    <td>{{ isCollector ? collectorMetalProd : "" }}</td>
    <td>{{ isCollector ? collectorCrystalProd : "" }}</td>
    <td>{{ isCollector ? collectorDeuteroiumProd : "" }}</td>
    <td>{{ isCollector ? collectorEnergyProd : "" }}</td>
    <td></td>
  </tr>
  <tr>
    <td>Lagerkapazität</td>
    <td></td>
    <td></td>
    <td>
      999999999
      <select
        ><option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
      </select>
    </td>
    <td>
      555555555
      <select
        ><option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
      </select>
    </td>
    <td>
      33333333
      <select
        ><option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
      </select>
    </td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Gesamt pro Stunde</td>
    <td></td>
    <td>1000</td>
    <td>700</td>
    <td>450</td>
    <td>300</td>
    <td></td>
  </tr>
  <tr>
    <td>Gesamt pro Tag</td>
    <td></td>
    <td>1000000</td>
    <td>700000</td>
    <td>405000</td>
    <td>300</td>
    <td></td>
  </tr>
  <tr>
    <td>Gesamt pro Woche</td>
    <td></td>
    <td>100000000</td>
    <td>70000000</td>
    <td>40000050</td>
    <td>300</td>
    <td></td>
  </tr>
</table>
